<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="header" th:fragment="header" >
	<h2><a href="/">books</a></h2>
	<nav>
		<ul th:if = "${session.isLogin != null}">
			<li><a href="/user/logout">로그아웃</a></li>
			<li><a href="/mypage/main">마이페이지</a></li>
		</ul>
		<ul th:if = "${session.isLogin == null}">
			<li><a href="/user/login">로그인</a></li>
			<li><a href="/user/join">회원가입</a></li>
			<li><a href="/mypage/main">마이페이지</a></li>
		</ul>
	</nav>
</div>

</html>